{% extends 'base.html' %}
{% block content %}


<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">


        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'main' %}" class="nav-link px-2 text-white">Главное меню</a></li>
          <li><a href="{% url 'contacts' %}" class="nav-link px-2 text-white">Контакты</a></li>
          <li><a href="{% url 'home' %}" class="nav-link px-2 text-white">Истории Из Жизни</a></li>
            <li><a href="{% url 'profile' %}" class="nav-link px-2 text-white">Аккаунт</a></li>
        {% else %}
        {% endif %}
        </ul>

        <div class="text-end">
            {% if request.user.is_authenticated %}
                        <div class="text-end">
                {% if request.user.is_authenticated %}
             <li class="nav-link px-2 text-white">Пользователь: {{ request.user.username }}</li>
          {% else %}
              <li class="nav-link px-2 text-white">Пользователь: аноним</li>
          {% endif %}
                <a href="{% url 'logout' %}" class="btn btn-outline-light me-2">Log out</a>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-outline-light me-2">Login</a>
                <a href="{% url 'register' %}" class="btn btn-outline-light me-2">Register</a>
            {% endif %}
        </div>
      </div>
    </div>
  </header>

    <script>

window.alert("Нажмите 'Закрыть' чтобы обратиться в тех поддержку!!!");



    </script>


<div class="text-center">
<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
<h4 class="display-4 fw-bold lh-1 text-body-emphasis">Number: +7 905 952 60 90</h4>
<h5 class="display-4 fw-bold lh-1 text-body-emphasis">Mail : rdimovin@mail.ru</h5>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        </div>
      </div>
      </div>
    </div>









{% endblock %}
